@{
    ViewBag.Title = "Contact";
}
<div class="section">
    <h5>@ViewBag.Title</h5>
    <div class="divider"></div>
    <p>If you would like to get in touch feel free to write to <a href="mailto:wblachowsky@gmail.com">wblachowsky@gmail.com</a></p>
</div>