@{
    ViewBag.Title = "Home Page";
}
<div>
        @if (User.Identity.IsAuthenticated)
        {
           @Html.Partial("_UserAuthenticatedIndex");
        }
        else
        {
            @Html.Partial("_UserDefaultIndex");
        }

</div>