@model HomeLibraryApp.Models.Home
<div>
        @if (User.Identity.IsAuthenticated)
        {
           @Html.Partial("_UserAuthenticatedIndex",Model);
        }
        else
        {
            @Html.Partial("_UserDefaultIndex",Model.RegisterViewModel);
        }

</div>