@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="card">
    <div class="card-content">
        <span class="card-title">Error</span>
        if (String.IsNullOrEmpty(ViewBag.errorMessage))
        {
        <p class="text-danger">An error occurred while processing your request.</p>
        }
        else
        {
        <p class="text-danger">@ViewBag.errorMessage</p>
        }
    </div>
</div>