
@{
    ViewBag.Title = "Info";
}
<div class="card">
    <div class="card-content">
        <span class="card-title">@ViewBag.Title</span>
        <p>
            @ViewBag.Message
        </p>
    </div>
</div>
