@model HomeLibraryApp.Models.LibraryBooksWithStates
<div id="books-partial">
    @if (Model.BooksModel.Count() > 0)
    {
        <table class="highlight">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.BooksModel.Count(); i++)
                {
                    string possessionClass = Model.BooksStates.ElementAt(i) + "-row";
                    string state = Model.BooksStates.ElementAt(i);
                    <tr class="clickable-row @possessionClass" data-href=@("/Library/Book?lib="+Model.LibId + "&bk="+ Model.BooksModel.ElementAt(i).Id.ToString())>
                        <td class="book-title">
                            @if (possessionClass == "in-row")
                            {
                                <i class="material-icons">schedule</i>
                            }
                            <span>@Model.BooksModel.ElementAt(i).Title</span>
                        </td>
                        <td>@(Model.BooksModel.ElementAt(i).AuthorFirstname + " " + Model.BooksModel.ElementAt(i).AuthorLastname)</td>
                        <td>@Model.BooksModel.ElementAt(i).Publisher</td>
                        <td>@if (state == "ok")
                        {
                            <span>On shelf</span>
                        }else if (state.Contains("in"))
                        {
                            <span>On shelf - borrowed</span>
                        }else if (state.Contains("out")) {
                            <span>Lent</span>
                        }</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div id="empty-library-container">
            <i id="empty-library-icon" class="material-icons">folder_open</i>

            <h5 id="empty-library-title">No books in this library</h5>
        </div>
    }
</div>