@model IEnumerable<HomeLibraryApp.Models.Book>
    <div id="books-partial">
    @if (Model.Count() > 0)
    {
        <table class="highlight">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author's firstname</th>
                    <th>Author's lastname</th>
                    <th>Publisher</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HomeLibraryApp.Models.Book book in Model)
                {
                    <tr class="clickable-row" data-href=@("/Library/Book?lib="+ViewBag.libraryId + "&bk="+book.Id.ToString())>
                        <td>@book.Title</td>
                        <td>@book.AuthorFirstname</td>
                        <td>@book.AuthorLastname</td>
                        <td>@book.Publisher</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div id="empty-library-container">
            <i id="empty-library-icon" class="material-icons">folder_open</i>

            <h5 id="empty-library-title">No books in this library</h5>
        </div>
    }
</div>