@model IEnumerable<HomeLibraryApp.Models.LibraryComment>

@foreach (HomeLibraryApp.Models.LibraryComment comment in Model)
{
    <div class="row comment">
        <div ><b>@comment.User.UserName</b></div>
        <div class="comment-date">@comment.Date.ToString("MMM dd, yyyy")</div>
        <div >@comment.Comment</div>
    </div>

}

