@model HomeLibraryApp.Models.LibrarySearch
@{
    ViewBag.Title = "Search";
}

<h4>Search for a book</h4>
@if (ViewBag.Error == "1")
{
    <p>The book you are trying to add is already in this library</p>
}
<div class="row nobmargin">
    <div class="input-field col xl8 l8 m6 s12">
        @Html.TextBoxFor(m => m.q, new { id = "search-book-input", oninput = "searchForBooks(1,'search')" })
        @Html.LabelFor(m => m.q)
    </div>
    <div class="input-field col xl4 l4 m6 s12">
        <select id="select-library" onchange="searchForBooks(1,'search')">
            <option value="" selected>All libraries</option>
            @foreach(HomeLibraryApp.Models.Library library in Model.UserLibraries) { 
        <option value="@library.Id">@library.Name</option>
            }
        </select>
        <label>Library</label>
    </div>
</div>
<div>
    <form id="form-search-book" action="#">
        <label for="searchAll">
            <input onclick="searchForBooks(1,'search')" id="searchAll" name="searchGroup" type="radio" checked />
            <span>All</span>
        </label>
        <label for="searchTitle">
            <input onclick="searchForBooks(1,'search')" id="searchTitle" name="searchGroup" type="radio" />
            <span>Title</span>
        </label>
        <label for="searchAuthor">
            <input onclick="searchForBooks(1,'search')" id="searchAuthor" name="searchGroup" type="radio" />
            <span>Author</span>
        </label>
        <label for="searchPublisher">
            <input onclick="searchForBooks(1,'search')" id="searchPublisher" name="searchGroup" type="radio" />
            <span>Publisher</span>
        </label>
    </form>
</div>
<div id="search-book-container">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <div id="search-book-results"></div>
</div>

