body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo {
    margin-left:20px;
}
@media only screen and (max-width : 992px) {
    .brand-logo {
        margin-left: 0px;
    }
}

.logo-pt1{
    font-weight:500;
}
.logo-pt2{
    font-weight:300;
}


main {
    flex: 1 0 auto;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

#footer{
    padding-top:0px;
    z-index:0;
}

*:focus {
    outline: none !important
}

#login-card{
    width:300px;
    margin:auto;
}

#library-sidenav{
    z-index:0;
    margin-top:-15px;
    top:unset !important;
    padding-bottom:175px;
}

#library-content {
    margin-left: 150px;
}
#mobile-library-select{
    display:none;
}
@media only screen and (max-width : 992px) {
    #library-content{
        margin-left:0px;
    }
    #mobile-library-select{
        display:block;
    }
}

#new-book-card{
    margin:0;
    background-color:transparent;
}

#new-book-tabs {
    background-color: transparent;
}

.modal .datepicker-modal{
    width:90%
}

#empty-library-container {
    position: absolute;
    top: 50%;
    left: calc(50% + 150px);
    transform: translate(-50%, -50%);
}
@media only screen and (max-width : 992px) {
    #empty-library-container {
        left: 50%;
    }
}

#empty-library-icon{
    font-size:120px ;
    opacity: 0.38;
    text-align:center;
    width:100%;
}

#empty-library-title {
    opacity: 0.38;
    margin-top:-10px;
}

.btn-right{
    float:right;
}

#form-search-book{
    margin-top:-10px;
}

#form-search-book label{
    margin-right:25px;
}

#topbarsearch .input-field .prefix {
    width: 0rem !important;
}

#topbarsearch nav ul li:hover, nav ul li.active {
    background-color: none !important;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
    margin-left: 2rem !important;
}


#topbarsearch-input{
    color:white;
}
#topbarsearch-input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}
#topbarsearch-icon{
    top:0.2rem;
}
#topbarsearch-icon:hover{
    cursor: pointer;
}


.pagination{
    float:right;
    width:unset !important;
}

#topbarsearch-li{
    height:64px;
}

#library-content th{
    width:25%;
}

#search-book-container, #goodreads{
    position:relative;
}

#search-book-container .preloader-wrapper {
    display:none;
    position: absolute;
    left: calc(50% - 32px);
    top: 100px;
}

#goodreads .preloader-wrapper {
    display:none;
    position: absolute;
    left: calc(50% - 32px);
    top: 100px;
}

#goodreads-result{
    display:none;
}

#goodreads-error{
    display:none;
}

.nobmargin{
    margin-bottom:0;
}



#sidenav-overlay {
    z-index: 1;
}
 .navbar-fixed {
    z-index: 999;
}

 .navbar-fixed {
    z-index: 998;
}

.highlight tr {
    cursor: pointer;
}

.comment{
    word-wrap:break-word;
}

.comment b{
    font-size:10pt;
}

.comment-date{
    font-size:9pt;
    color:dimgrey;
}

.out-row{
    color:grey;
}

#borrowedData{
    display:none;
}

#stats-paragraph{
    text-align:center;
    margin:1rem;
}

.book-title{
    font-weight:500;
}

#last-book-reading-time{

    padding-top:26px;
}
