body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
select,
textarea {
    max-width: 280px;
}

#footer{
    padding-top:0px;
}

.login-card{
    height:37px;
    width:150px;
    display:inline-flex ;
    margin-left:14px !important;
}

.login-card input {
    color: initial;
    padding-left:8px !important;
    font-size:1rem !important;
}