@{
    ViewBag.Title = "Confirm Email";
}

<div class="card">
    <div class="card-content">
        <span class="card-title">Successful confirmation</span>
            <p>
                Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
    </div>
</div>
